.container{
 display: grid;
 grid-gap: 3em;
 /* grid-template-columns: repeat(2,150px); */
}
.main{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding: 10px;
}

.content{
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.content .btn{
/* margin: 10px; */
/* position: absolute; */
margin-left: auto;
margin-right: 0%;
margin-top: 0%;
margin-bottom: 0%;
}