.container-sm{
    display:flex;
    flex-direction: column;
    gap: 5px;
    
}

label{
    font-weight: 500;
    display: block;
    float: left;
   margin: auto;
}
/*span{
    color: red;
    font-size: 0.8rem;
    display: none;
   float: left;
   text-align: start;
}
*/

input{
    border: 1px solid rgb(204, 204, 204);
    outline: none;
    padding: 10px 12px;
    font-size: 1rem;
    border-radius: 5px;
}

input:hover{
    border: 1px solid #adafad;
}

input:focus{
    border: 1px solid #239ce2;
}
/*input:invalid ~ span{
    display: block;
}*/

